<!--
  Generated template for the Rating page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Rated</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<form [formGroup]="createRatingForm" (ngSubmit)="onSubmit(createRatingForm.value)">
		<ion-list>
			<ion-item>
				<ion-label>Pricing</ion-label>
				<ion-select [formControl]="pricing">
					<ion-option value="good">Good</ion-option>
					<ion-option value="fair">Fair</ion-option>
					<ion-option value="unfair">Unfair</ion-option>
					<ion-option value="high">Too High</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Quality</ion-label>
				<ion-select [formControl]="quality">
					<ion-option value="good">Good</ion-option>
					<ion-option value="fair">Fair</ion-option>
					<ion-option value="unfair">Unfair</ion-option>
					<ion-option value="high">Too High</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Punctuality</ion-label>
				<ion-select [formControl]="punctuality">
					<ion-option value="good">Good</ion-option>
					<ion-option value="fair">Fair</ion-option>
					<ion-option value="unfair">Unfair</ion-option>
					<ion-option value="high">Too High</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Responsiveness</ion-label>
				<ion-select [formControl]="responsiveness">
					<ion-option value="good">Good</ion-option>
					<ion-option value="fair">Fair</ion-option>
					<ion-option value="unfair">Unfair</ion-option>
					<ion-option value="high">Too High</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Professionalism</ion-label>
				<ion-select [formControl]="professionalism">
					<ion-option value="good">Good</ion-option>
					<ion-option value="fair">Fair</ion-option>
					<ion-option value="unfair">Unfair</ion-option>
					<ion-option value="high">Too High</ion-option>
				</ion-select>
			</ion-item>
		</ion-list>
		<button ion-button type="submit" color="primary" [disabled]="!createRatingForm.valid">Rate</button>
	</form>
</ion-content>