<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Post Job" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Chats" tabIcon="chatboxes" tabBadge="{{newChats}}" tabBadgeStyle="danger"></ion-tab>
</ion-tabs>
