<!--
  Generated template for the CreateWashingJob page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Post Washing Job</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="createJobForm" (ngSubmit)="onSubmit(createJobForm.value)">
    <ion-item>
      <ion-input [formControl]="washNoClothes" type="number" placeholder="How many Clothes are there?"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Type of Service</ion-label>
      <ion-select multiple="true" [formControl]="washService">
        <ion-option value="Washing">Washing</ion-option>
        <ion-option value="Ironing">Ironing</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime [formControl]="jobDate" displayFormat="D MMM, YY" pickerFormat="DD MMM YYYY" min="2016-11-03" max="2016">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Time</ion-label>
      <ion-datetime [formControl]="jobTime" displayFormat="HH:mm" pickerFormat="h mm A">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Address</ion-label>
      <ion-input [formControl]="pincode" type="number" placeholder="Pincode"></ion-input>
      <ion-input [formControl]="city" type="text" placeholder="City/Town"></ion-input>
    </ion-item>

    <button [disabled]="!createJobForm.valid" type="submit" ion-button color="light" block>Post Job</button>
  </form>
</ion-content>