<!--
  Generated template for the SellerProfile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Seller</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="seller-profile">
  <div text-center>
    <img src="/assets/img/avatar-ts-woody.png"><br>
  </div>
  <ion-list no-border>

    <ion-item>
      <ion-icon name='flag' item-left></ion-icon>
      Nationality
      <ion-note item-right>
        Japani
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name='calendar' item-left></ion-icon>
      Date of Birth
      <ion-note item-right>
        date
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name='cloud-upload' item-left></ion-icon>
      Documents
      <ion-thumbnail item-right>
        <img src="/assets/img/avatar-ts-woody.png">
      </ion-thumbnail>
    </ion-item>

  </ion-list>


  <ion-list>

    <ion-list-header>
      Activity
    </ion-list-header>

    <ion-item>
      # Jobs Quoted
      <ion-icon name='text' item-left></ion-icon>
      <ion-badge item-right>5</ion-badge>
    </ion-item>

    <ion-item>
      # Jobs Completed
      <ion-icon name='text' item-left></ion-icon>
      <ion-badge item-right>5</ion-badge>
    </ion-item>

  </ion-list>

  <ion-list>

    <ion-list-header>
      Rated Jobs
    </ion-list-header>

    <ion-list>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/img/avatar-ts-sarge.png">
        </ion-thumbnail>
        <h2>Buyer</h2>
        <h3>Job Description</h3>
        <p>Punctuality - 4.5/5</p>
        <p>Responsiveness - 4.1/5</p>
      </ion-item>
    </ion-list>
    
  </ion-list>


</ion-content>