<ion-item text-wrap>
    <ion-card>
        <ion-item>
            <ion-thumbnail item-left>
                <user-avatar [user]="job.user"></user-avatar>
            </ion-thumbnail>
            <h2>{{job.user.username}}</h2>
        </ion-item>
        <ion-item text-right>
            <div [ngSwitch]="job.jobCategoryId">
                <div *ngSwitchCase="'cooking'">
                    <p><b>Cooking service</b> required for <b>{{job.chefGuestsNumber}}</b> guests, for <b>{{job.eventType}}</b>                        event, on <b>{{job.jobDate}}</b> at <b>{{job.streetName}},
						{{job.pincode}}, {{job.city}}.</b></p>
                </div>
                <div *ngSwitchCase="'cleaning'" class="thread-card-question wordwrap left-border-primary">
                    <p><b>Cleaning service</b> required for <b>{{job.cleanNoRooms}}</b> guests, for <b>{{job.eventType}}</b>                        event, on <b>{{job.jobDate}}</b> at <b>{{job.streetName}},
						{{job.pincode}}, {{job.city}}.</b></p>
                </div>
                <div *ngSwitchCase="'washing'" class="thread-card-question wordwrap left-border-primary">
                    <p><b>Washing Service</b> required for <b>{{job.washNoClothes}}</b> clothes, additional services <b>{{job.washService}}</b>,
                        on <b>{{job.jobDate}}</b> at <b>{{job.streetName}}, {{job.pincode}}, {{job.city}}.</b></p>
                </div>
                <div *ngSwitchCase="'recycling'" class="thread-card-question wordwrap left-border-primary">
                    <p><b>Recycling service</b> required for <b>{{job.recycleType}}</b>, on <b>{{job.jobDate}}</b> at <b>{{job.streetName}}, {{job.pincode}}, {{job.city}}.</b></p>
                </div>
                <div *ngSwitchCase="'painting'" class="thread-card-question wordwrap left-border-primary">
                    <p><b>Painting service</b> required for <b>{{job.paintNoWalls}}</b> walls, for <b>{{job.paintMaterials}}</b>                        materials, on <b>{{job.jobDate}}</b> at
                        <b>{{job.streetName}}, {{job.pincode}}, {{job.city}}.</b></p>
                </div>
                <div *ngSwitchCase="'assembly'" class="thread-card-question wordwrap left-border-primary">
                    <p><b>Furniture Assembly</b> service required for <b>{{job.fAssemblyNoUnits}}</b> pieces of furniture on
                        <b>{{job.jobDate}}</b> at <b>{{job.streetName}},
						{{job.pincode}}, {{job.city}}.</b></p>
                </div>
                <div *ngSwitchCase="'moving'" class="thread-card-question wordwrap left-border-primary">
                    <p><b>Furniture Moving service</b> required for <b>{{job.fMoveNoUnits}}</b> furniture units, from <b>{{job.StreetName}}, {{job.pincode}},
						{{job.city}}</b> to <b>{{job.fMoveDestAddress}}</b> on <b>{{job.jobDate}}.</b> </p>
                </div>
                <div *ngSwitchCase="'custom'" class="thread-card-question wordwrap left-border-primary">
                    <p>{{job.customJob}} required on <b>{{job.jobDate}}</b> at <b>{{job.streetName}}, {{job.pincode}}, {{job.city}}</b>.</p>
                </div>
            </div>
        </ion-item>
        <ion-row class="left-border-primary">
            <ion-col>
                <button ion-button color="dark" clear small>
	        			<ion-icon name="quote"></ion-icon>
	        			<div>  {{job.quotations}} Quotes</div>
	      			</button>
            </ion-col>
            <ion-col center text-center>
                <ion-note>
                    {{job.dateCreated | date:'medium'}}
                </ion-note>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-item>