<ion-item text-wrap>
    <ion-card>
        <ion-item>
            <ion-thumbnail item-left>
                <user-avatar [user]="rating.job.user"></user-avatar>
            </ion-thumbnail>
            <h2>{{rating.job.user.username}}</h2>
        </ion-item>
        <ion-item text-right>
            <div [ngSwitch]="rating.job.jobCategoryId">
                <div *ngSwitchCase="'cooking'">
                    <p><b>Cooking service</b> required for <b>{{rating.job.chefGuestsNumber}}</b> guests, for <b>{{rating.job.eventType}}</b>                        event, on <b>{{rating.job.jobDate}}</b> at <b>{{rating.job.streetName}},
						{{rating.job.pincode}}, {{rating.job.city}}.</b></p>
                </div>
                <div *ngSwitchCase="'cleaning'" class="thread-card-question wordwrap left-border-primary">
                    <p><b>Cleaning service</b> required for <b>{{rating.job.cleanNoRooms}}</b> guests, for <b>{{rating.job.eventType}}</b>                        event, on <b>{{rating.job.jobDate}}</b> at <b>{{rating.job.streetName}},
						{{rating.job.pincode}}, {{rating.job.city}}.</b></p>
                </div>
                <div *ngSwitchCase="'washing'" class="thread-card-question wordwrap left-border-primary">
                    <p><b>Washing Service</b> required for <b>{{rating.job.washNoClothes}}</b> clothes, additional services
                        <b>{{rating.job.washService}}</b>, on <b>{{rating.job.jobDate}}</b> at <b>{{rating.job.streetName}}, {{rating.job.pincode}}, {{rating.job.city}}.</b></p>
                </div>
                <div *ngSwitchCase="'recycling'" class="thread-card-question wordwrap left-border-primary">
                    <p><b>Recycling service</b> required for <b>{{rating.job.recycleType}}</b>, on <b>{{rating.job.jobDate}}</b>                        at <b>{{rating.job.streetName}}, {{rating.job.pincode}}, {{rating.job.city}}.</b></p>
                </div>
                <div *ngSwitchCase="'painting'" class="thread-card-question wordwrap left-border-primary">
                    <p><b>Painting service</b> required for <b>{{rating.job.paintNoWalls}}</b> walls, for <b>{{rating.job.paintMaterials}}</b>                        materials, on <b>{{rating.job.jobDate}}</b> at
                        <b>{{rating.job.streetName}}, {{rating.job.pincode}}, {{rating.job.city}}.</b></p>
                </div>
                <div *ngSwitchCase="'assembly'" class="thread-card-question wordwrap left-border-primary">
                    <p><b>Furniture Assembly</b> service required for <b>{{rating.job.fAssemblyNoUnits}}</b> pieces of furniture
                        on
                        <b>{{rating.job.jobDate}}</b> at <b>{{rating.job.streetName}},
						{{rating.job.pincode}}, {{rating.job.city}}.</b></p>
                </div>
                <div *ngSwitchCase="'moving'" class="thread-card-question wordwrap left-border-primary">
                    <p><b>Furniture Moving service</b> required for <b>{{rating.job.fMoveNoUnits}}</b> furniture units, from
                        <b>{{rating.job.StreetName}}, {{rating.job.pincode}},
						{{rating.job.city}}</b> to <b>{{rating.job.fMoveDestAddress}}</b> on <b>{{rating.job.jobDate}}.</b> </p>
                </div>
                <div *ngSwitchCase="'custom'" class="thread-card-question wordwrap left-border-primary">
                    <p>{{rating.job.customJob}} required on <b>{{rating.job.jobDate}}</b> at <b>{{rating.job.streetName}}, {{rating.job.pincode}}, {{rating.job.city}}</b>.</p>
                </div>
            </div>
        </ion-item>
        <ion-row class="left-border-primary">
            <ion-col>
                <p><b>Punctuality</b>:: {{rating.punctuality}}</p><br />
                <p><b>Pricing</b>:: {{rating.pricing}}</p><br />
                <p><b>Quality</b>:: {{rating.quality}}</p><br />
                <p><b>Responsiveness</b>:: {{rating.responsiveness}}</p><br />
                <p><b>Punctuality</b>:: {{rating.punctuality}}</p><br />
                <p><b>Professionalism</b>:: {{rating.professionalism}}</p><br />
            </ion-col>
        </ion-row>
    </ion-card>
</ion-item>