<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="!userDataLoaded">
    <img src="assets/images/ring.gif" style="display:block; margin:auto" />
  </div>

  <ion-list no-border *ngIf="userDataLoaded">

    <ion-list-header>
      Basic Info
    </ion-list-header>
    <ion-item>
      <ion-thumbnail item-left>
        <!--<img src="{{userProfile.image}}">-->
        <user-avatar [user]="user" *ngIf="userDataLoaded"></user-avatar>
      </ion-thumbnail>
      <h2>{{userProfile.username}}</h2>
    </ion-item>

    <ion-item>
      <ion-icon name='calendar' item-left></ion-icon>
      Date of Birth
      <ion-note item-right>
        {{userProfile.dateOfBirth}}
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name='calendar' item-left></ion-icon>
      Nationality
      <ion-note item-right>
        {{userProfile.country}}
      </ion-note>
    </ion-item>


    <ion-item>
      <ion-icon name='cloud-upload' item-left></ion-icon>
      <ion-note item-right>
        <ion-row>
        <ion-thumbnail>
        <img src="{{userDocument1.image}}" (click)="zoom()">
        </ion-thumbnail>
        <ion-thumbnail>
        <img src="{{userDocument2.image}}" (click)="zoom2()">
        </ion-thumbnail>
        </ion-row>
      </ion-note>
    </ion-item>

  </ion-list>
  <ion-list>
    <rating *ngFor="let rating of ratings" [rating]="rating"></rating>
  </ion-list>
</ion-content>