<!--
  Generated template for the Jobs page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>All Jobs</ion-title>

  </ion-navbar>

</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="reloadJobs($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="loading">
    <img src="assets/images/ring.gif" style="display:block; margin:auto" />
  </div>

  <ion-list *ngIf="!loading">
    <all-job *ngFor="let job of jobs" [job]="job"></all-job>
  </ion-list>

</ion-content>