<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Post @home service jobs:</ion-title>
    </ion-navbar>
</ion-header>

<ion-content scroll="false">
    <ion-list>
        <ion-item (click)="gotoCleaningPage()" no-margin no-padding>
            <button ion-button small color="light">Cleaning</button>
        </ion-item>
        <ion-item (click)="gotoWashingPage()">
            <button ion-button small color="light">Washing/Ironing</button>
        </ion-item>
        <ion-item (click)="gotoCookingPage()">
            <button ion-button small color="light">Cooking</button>
        </ion-item>
        <ion-item (click)="gotoRecyclingPage()">
            <button ion-button small color="light">Recycling</button>
        </ion-item>
        <ion-item (click)="gotoPaintingPage()">
            <button ion-button small color="light">Wall Painting</button>
        </ion-item>
        <ion-item (click)="gotoAssemblyPage()">
            <button ion-button small color="light">Furniture Assembly</button>
        </ion-item>
        <ion-item (click)="gotoMovingPage()">
            <button ion-button small color="light">Furniture Moving</button>
        </ion-item>
        <ion-item (click)="gotoCustomPage()">
            <button ion-button small color="dark">Post your Custom Job</button>
        </ion-item>
    </ion-list>
</ion-content>