<!--
  Generated template for the SignUp page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="createFirebaseAccountForm" (ngSubmit)="onSubmit(createFirebaseAccountForm.value)" >
        <ion-list>
            <ion-item >
                <ion-label floating>Full Name</ion-label>
                <ion-input type="text" value="" [formControl]="username"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="text" value="" [formControl]="email"></ion-input>
            </ion-item>
            <ion-item>
                    <ion-label floating>Password</ion-label>
                    <ion-input type="password" value="" [formControl]="password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Date of Birth</ion-label>
                <ion-datetime displayFormat="MMM DD YYYY" [formControl]="dateOfBirth"></ion-datetime>
            </ion-item>
		  <ion-item>
		    <ion-label>Gender</ion-label>
		    <ion-select [formControl]="gender">
		      <ion-option value="male">Male</ion-option>
		      <ion-option value="Female">Female</ion-option>
		    </ion-select>
		  </ion-item>
         </ion-list>
        <button type="submit" ion-button color="light" [disabled]="!createFirebaseAccountForm.valid" block>Sign Up</button>
    </form>
</ion-content>