<!--
  Generated template for the Chats page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Chats</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="reload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="loading">
    <img src="assets/images/ring.gif" style="display:block; margin:auto" />
  </div>

  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let quotation of quotations" (click)="gotoChat(quotation.key, quotation.jobKey, quotation.user.uid)">
      <ion-thumbnail item-left>
        <user-avatar [user]="quotation.user">
        </user-avatar>
      </ion-thumbnail>
      <h2>{{quotation.user.username}}</h2>
      <p>{{quotation.message}}</p>
      <ion-note item-right>{{quotation.dateCreated | date:'medium'}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>