<!--
  Generated template for the ProfileImageUpload page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Upload Profile Image</ion-title>
    <ion-buttons end>
      <button ion-button (click)="goToHome()" color="primary">Skip</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="openImageOptions()">
            <ion-icon name="camera"></ion-icon>
      </button>
      <p> you can skip ahead and add image later in the profile section </p>
</ion-content>