<!--
  Generated template for the CreateMovingJob page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Post Moving Job</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="createJobForm" (ngSubmit)="onSubmit(createJobForm.value)">
    <ion-item>
      <ion-input [formControl]="fMoveNoUnits" type="number" placeholder="How many units are there?"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>From Address</ion-label>
      <ion-input [formControl]="pincode" type="number" placeholder="Pincode"></ion-input>
      <ion-input [formControl]="city" type="text" placeholder="City/Town"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>To Address</ion-label>
      <ion-input [formControl]="fMoveDestAddress" type="text" placeholder="Destination Address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime [formControl]="jobDate" displayFormat="D MMM, YY" pickerFormat="DD MMM YYYY" min="2016-11-03" max="2016">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Time</ion-label>
      <ion-datetime [formControl]="jobTime" displayFormat="HH:mm" pickerFormat="h mm A">
      </ion-datetime>
    </ion-item>
    <button [disabled]="!createJobForm.valid" type="submit" ion-button color="light" block>Post Job</button>
  </form>
</ion-content>